
:root {
  --success-color: #23cc71;
  --error-color: #e74c3c; 
}

* {
  box-sizing: border-box;
}


body {
  
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(228, 147, 224, 0.8), rgba(228, 147, 224, 0.8)), url("ring.JPG");
    background-position: center;
    background-size: cover;
    /*filter: blur(1px)*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;



}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: -2px 2px 15px rgba(0,0,0, 0.5);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
  margin-top: 70px;



}


.header {
  /* background-color: red; */
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
  
}

header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}


.form-control {
  margin-bottom: 9px;
  padding-bottom: 20px;
  position: relative;
  /* height: 77px; */
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  font-family: Albert Sans;

}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: Albert sans;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  
}


.form-control i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;

}

.form-control small {
  color: #e74c3c;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.radio-group small {
  color: #e74c3c;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}



.choice-input-field {
  /* margin: 4px auto 3px auto; */
  padding-bottom: 10px;
  margin: 0;
  
  

  
}

.radio-group {
  display: flex;
  gap: 50px; 
  font-family: Albert Sans;
  font-size: 14px;
}


.form button {
  background-color: #8e44ad;
  /* border: 2px solid #8e44ad; */
  color: #fff;
  display: block;
  width: 100%;
  /* width: 40%; */
  padding: 10px;
  font-family: Albert Sans;
  font-size: 16px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: background 1s;
  border: 0;
  outline: 0;
  /* height: 40px; */
}

h2 {
  font-family: "tangerine";
  color: green;
  font-size: 60px;
  padding-top: px;
  text-align:center;
  letter-spacing: 0.7px;

}


.form-control.success input {
  border-color: #2ecc71;

}

.form-control.error input {
  border-color: #e74c3c;

}

.form-control.success i.fa-check-circle {
  visibility: visible;
  color:  #2ecc71;
}


.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color:   #e74c3c;
}


.form-control.error small {
  color:  #e74c3c;
  visibility: visible;
}

#dynamic-dropdown {
  margin-top: 20px;
  height: 30px;
  

}


p_motto {
  color: green;
  text-align: center;
  font-size: 25px;
  padding-top: 2px;
  font-family: "Dancing Script", cursive;;
}

.selected {
  background-color: yellow;
}